<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人中心</title>
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/time_dropper/datedropper.css">
    <link rel="stylesheet" href="__PUBLIC__/css/time_dropper/timedropper.min.css">
    <style type="text/css">
        .demo{margin:20px auto 40px auto;width:320px}
        .input{padding:6px;border:1px solid #d3d3d3}
    </style>
</head>
<script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.js"></script>
<script src="__PUBLIC__/js/time_dropper/datedropper.min.js"></script>
<script src="__PUBLIC__/js/time_dropper/timedropper.min.js"></script>

<body>
<a href="{:U('Home/Student/student')}">返回</a>
<h3>个人信息</h3>
<div id="info_div">
    真实姓名：{$stu_info.stu_name}&nbsp;&nbsp;
    性别：{$stu_info.stu_sex}<br>
    学校：{$stu_info.stu_school}<br>
    学历：{$stu_info.stu_education}&nbsp;&nbsp;
    年级：{$stu_info.stu_grade}<br>
    家庭住址：{$stu_info.stu_address}<br>
    简介：{$stu_info.stu_introduce}<br>
    <span id="edit_info">编辑</span>
</div>
<div id="edit_info_div" style="display:none;">
    <form id="edit_info_form" name="edit_info_form" action="{:U('Home/Student/editInfo')}" method="post">
        真实姓名：<input type="text" id="stu_name" name="stu_name" value="{$stu_info.stu_name}"><br>
        性别
        <input type="radio" name="stu_sex" id="stu_sex1" value="male">男
        <input type="radio" name="stu_sex" id="stu_sex2" value="female">女<br>
        学校<input type="text" name="stu_school" id="stu_school" value="{$stu_info.stu_school}"><br>
        学历
        <select name="stu_education" id="stu_education">
            <option id="stu_edc1" value="1">小学</option>
            <option id="stu_edc2" value="2">初中</option>
            <option id="stu_edc3" value="3">高中</option>
        </select>
        <br>
        年级
        <select name="stu_grade" id="stu_grade">
            <option id="stu_grade1" value="1">一年级</option>
            <option id="stu_grade2" value="2">二年级</option>
            <option id="stu_grade3" value="3">三年级</option>
            <option id="stu_grade4" value="4">四年级</option>
            <option id="stu_grade5" value="5">五年级</option>
            <option id="stu_grade6" value="6">六年级</option>
        </select>
        <br>
        家庭住址<input type="text" name="stu_address" id="stu_address" value="{$stu_info.stu_address}"><br>
        简介：<textarea id="stu_introduce" name="stu_introduce">{$stu_info.stu_introduce}</textarea><br>
        <button id="save_info" type="submit">保存</button>
    </form>
</div>
<h3>申请信息</h3>
<switch name="is_apply">
    <case value="0">
        当前的申请<br>
        <a href="{:U('Home/Student/myApply')}">{$apl_info.apl_title}</a>
        <a name="cancel_apply" id="cancel_apply">取消申请</a>
    </case>
    <case value="1">
        还未申请家教，
        <a href="{:U('Home/Student/submitApply')}">去申请</a>
    </case>
</switch>
<h3>请求信息</h3>
<switch name="is_request">
    <case value="1">
        <table>
            <tr>
                <td>标题</td>
                <td>老师</td>
                <td>请求时间</td>
                <td>状态</td>
            </tr>
            <volist name="request" id="r">
                <tr>
                    <td>{$r.apl_title}</td>
                    <td>{$r.tec_name}</td>
                    <td>{$r.req_time}</td>
                    <td>{$r.req_status}</td>
                    <td>
                        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">远程面试邀请</button>
                    </td>
                    <td><a name="cancel_request" id="cancel_request" req_id="{$r.req_id}">取消</a></td>
                </tr>
            </volist>
        </table>
    </case>
    <case value="0">
        没有家教请求，
        <a href="{:U('Home/Student/student')}">去看看</a>
    </case>
</switch>
<h3>站内信</h3>
<a href="{:U('Home/Student/stuMsg')}">阅读站内信</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">请选择面试时间</h4>
            </div>
            <form name="choose_time_form" id="choose_time_form" action="{:U('Home/Student/faceInvitationOut')}" method="post">
                <div class="modal-body">
                    <div id="main">
                        <div class="demo">
                            <p>请选择日期：<input type="text" class="input" id="pick_date" name="pick_date"/></p><br/>
                            <p>请选择时间：<input type="time" class="input" id="pick_time" name="pick_time"/></p>
                            <input name="req_id" id="req_id" hidden value="{$r.req_id}">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div><
    </div>
</div>
</body>
<script>
    $(document).ready(function () {
        $("#edit_info_div").hide();
        $("#edit_info").click(function () {
            $("#info_div").hide();
            $("#edit_info_div").show();
        })

        $("#stu_education").change(function () {
            if (1 == $(this).children('option:selected').val()) {
                $("#stu_grade4").show();
                $("#stu_grade5").show();
                $("#stu_grade6").show();
            }else {
                $("#stu_grade4").hide();
                $("#stu_grade5").hide();
                $("#stu_grade6").hide();
            }
        });

        //编辑时先给元素设置当前的值
        var sex = "{$stu_info.stu_sex}";
        if (sex == "male")
            $("#stu_sex1").attr("checked", true);
        else
            $("#stu_sex2").attr("checked", true);

        var education = "{$stu_info.stu_education}";
        if ("1" == education)
            $("#stu_edc1").attr("selected", true);
        else if ("2" == education)
            $("#stu_edc2").attr("selected", true);
        else
            $("#stu_edc3").attr("selected", true);

        var grade = "{$stu_info.stu_grade}"
        switch (grade){
            case "1":
                $("#stu_grade1").attr("selected", true);
                break;
            case "2":
                $("#stu_grade2").attr("selected", true);
                break;
            case "3":
                $("#stu_grade3").attr("selected", true);
                break;
            case "4":
                $("#stu_grade4").attr("selected", true);
                break;
            case "5":
                $("#stu_grade5").attr("selected", true);
                break;
            case "6":
                $("#stu_grade6").attr("selected", true);
                break;
            default:
                break;
        }

        if (1 == $("#stu_education").children('option:selected').val()) {
            $("#stu_grade4").show();
            $("#stu_grade5").show();
            $("#stu_grade6").show();
        }else {
            $("#stu_grade4").hide();
            $("#stu_grade5").hide();
            $("#stu_grade6").hide();
        }

        $("#cancel_apply").click(function () {
            if(confirm("确认取消此申请吗？")){
                $(location).attr('href', 'https://www.fangzhouf.org/Home/Student/deleteApply');
            }
        });

        $("a[name='cancel_request']").click(function () {
            if (confirm("确认取消此请求吗？")){
                var req_id = $(this).attr('req_id');
                var address = 'https://www.fangzhouf.org/Home/Student/deleteRequest?req_id=' + req_id;
                $(location).attr('href', address);
            }
        });
    })
</script>
<script>
    $("#pick_date").dateDropper({
        animate: false,
        format: 'Y-m-d',
        maxYear: '2020',
        minDate: 0
    });
    $("#pick_time").timeDropper({
        meridians: false,
        format: 'HH:mm',
    });

    function showTime() {
        var temp = $("#pickdate").val();
        var temp2 = $("#picktime").val();
        alert(temp + temp2);
    }
</script>
</html>