<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家教申请</title>
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<h1>申请家教</h1>
<form name="tec_apply_form" id="tec_apply_form" action="" method="post">
    申请标题<input type="text" name="apl_title" id="apl_title"><br>
    申请课程<input type="text" name="apl_course" id="apl_course">
    <br>
    申请薪资<input type="text" name="apl_salary" id="apl_salary"><br>
    授课频率<input type="text" name="apl_frequency" id="apl_frequency"><br>
    申请描述
    <br>
    <textarea name="apl_description"></textarea><br>
    <input type="submit" value="提交申请">
</form>
<script>
    $(document).ready(function () {

    })
</script>
</body>
</html>