<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/css/Teacher/style.css?ver=<?php echo time(); ?>">
    <link rel="stylesheet" href="__PUBLIC__/css/bootstrap/bootstrap.css">
</head>
<body>
<h3>教师端</h3><br>
<a href="{:U('Home/Index/homePage')}">HOME</a><br>
<switch name="is_login">
    <case value="0">
        <a href="{:U('Home/LoginRegister/login')}">登录</a>
    </case>
    <case value="1">
        {$name}
        <switch name="user_type">
            <?php case "1": ?>老师<?php break;?>
            <?php case "2": ?>同学<?php break;?>
        </switch>
        ，您好
        <eq name="is_info" value="0">
            <a id="fill_info_href">去完善一下个人信息吧</a><br>
        </eq>
        <eq name="is_info" value="1">
            <a id="person_center" href="{:U('Home/Teacher/tecCenter')}">个人中心</a><br>
        </eq>
        <!--<a href="">个人中心</a>-->
        <a href="https://www.fangzhouf.org/Home/LoginRegister/quitLogin">退出登录</a><br>
    </case>
</switch>
<br>
看看有哪些同学想找家教
<div class="w_0100 c_0100_bg3" id="thyw">

    <div class="w_1200">
        <div class="c_1200_4_other">
            <div class="t_1200_3" id="#q0">
                <!--<ul>-->
                    <volist name="stu_apply" id="sta">
                        <!--hahah是{$i}-->
                        <if condition="isFour($i)">
                            <ul>
                        </if>
                        <li id="{$sta.apl_id}">
                            <div class="img_379">
                                <a href="{:U('Home/Teacher/showApplyDetail', array('id'=>$sta['apl_user_id']))}">
                                    <img src="/picture/Teacher/main_img157774224.jpg" width="100%">
                                </a>
                            </div>
                            <div class="d_321">
                                <div class="t_321_1"><a href="javascript:void(0)"><nobr>{$sta.apl_title}</nobr></a></div>
                                <div class="t_321_1"><a href="javascript:void(0)"><nobr>{$sta.apl_course}</nobr></a></div>
                                <div class="t_321_1"><a href="javascript:void(0)"><nobr>{$sta.apl_date}</nobr></a></div>
                                <div class="t_321_2">
                                    <a href="{:U('Home/Teacher/showApplyDetail', array('id'=>$sta['apl_user_id']))}" class="a_mnew">查看详情</a>
                                </div>
                            </div>
                        </li>
                        <if condition="isThree($i)">
                            </ul>
                        </if>
                    </volist>
            </div>
        </div>
    </div>
</div>
<script>
    $('.t_1200_3 li').hover(function () {
        $(this).stop().animate({ margin: "0 31px 14px 0" });
    }
    , function () {
        $(this).stop().animate({ margin: "14px 31px 0 0" });
    })

</script>
<script>
    $(document).ready(function () {
        var type = "{$user_type}";
        if (1 == type){
            $("#fill_info_href").attr({
                "href" : "https://www.fangzhouf.org/Home/Teacher/fillInfo.html"
            });

            $("#person_center").attr({
                "href" : "https://www.fangzhouf.org/Home/Teacher/tecCenter.html"
            });
        }
        else{
            $("#fill_info_href").attr({
                "href" : "https://www.fangzhouf.org/Home/Student/fillInfo.html"
            });

            $("#person_center").attr({
                "href" : "https://www.fangzhouf.org/Home/Student/stuCenter.html"
            });
        }
    })
</script>
</body>
</html>