<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>站内信</title>
</head>
<body>
<h1>教师站内信</h1>
<br>
<empty name="tec_msg">
    您的收件箱中没有站内信
    <else/>
    <table>
        <tr>
            <td>消息标题</td>
            <td>消息类型</td>
            <td>时间</td>
        </tr>
        <volist name="tec_msg" id="m">
            <tr>
                <td><a href="{:U('Home/Teacher/tecMsgContent', array('msg_id'=>$m['msg_id']))}">{$m.msg_title}</a></td>
                <td>{$m.msg_type}</td>
                <td>{$m.msg_time}</td>
            </tr>
        </volist>
    </table>
    <div class="result page">{$page}</div>
</empty>
<br>
<a href="{:U('Home/Teacher/tecCenter')}">返回</a>
</body>
</html>